/*Nutrition Page*/
.nutrition {
    padding: 20px;
    font-family: Arial, sans-serif;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.close-button:hover {
    background-color: #c82333;
}

/*Modal*/
.ReactModal__Overlay {
    background-color: rgba(0, 0, 0, .5) !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ReactModal__Content {
    width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    outline: none;
}

/*Weekly View*/
.weekly-view {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.weekly-view .day {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    width: 120px;
    text-align: center;
    margin-bottom: 15px;
    transition: box-shadow .3s ease;
    cursor: pointer;
}

.weekly-view .day:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, .2);
}

.weekly-view .day.selected {
    background-color: #f5f5f5;
    border: 2px solid #007bff;
}

/*DayDetails*/
.day-details {
    padding: 20px;
    max-width: 500px;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .2);
    position: relative;
}

.add-meal-button {
    background-color: #007bff;
    color: #fff;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 14px;
}

.add-meal-button:hover {
    background-color: #0056b3;
}

.save-changes-button {
    background-color: #28a745;
    color: #fff;
    padding: 10px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 16px;
    width: 100%;
}
.save-changes-button:hover {
    background-color: #218838;
}


/*Responsive Design*/
@media (max-width: 600px) {
    .ReactModal__Content {
        width: 90%;
    }

    .weekly-view {
        flex-direction: column;
        gap: 10px;
    }
}