/*Workout Page*/
.Workout {
    padding: 20px;
    font-family: Arial, sans-serif;
}

/*Weekly View*/
.weekly-view {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.weekly-view .day {
    width: 150px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    cursor: pointer;
    transition: background-color .3s ease;
    text-align: center;
}

.weekly-view .day:hover {
    background-color: #e0e0e0;
}

.weekly-view .day h3 {
    margin: 0;
    font-size: 1.2em;
    color: #333;
}

.weekly-view .day p {
    margin: 5px 0;
    color: #555;
    font-size: .9em;
}

/*Modal*/
.ReactModal__Overlay {
    background-color: rgba(0, 0, 0, .5) !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ReactModal__Content {
    width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    outline: none;
}

/*DayDetails*/
.day-details {
    display: flex;
    flex-direction: column;
}

.day-details h2 {
    font-size: bold;
    margin-top: 10px;
    color: #333;
}

.day-details input {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
    width: 100%;
    box-sizing: border-box;
    background-color: #fff;
    color: #333;
}

/*Exercise*/
.exercise {
    margin-top: 15px;
}

.exercise input {
    margin-top: 5px;
}

/*Buttons*/
button {
    padding: 10px 15px;
    margin-top: 15px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color .3s ease;
}

.add-exercise-button {
    background-color: #4caf50;
    color: white;
}

.add-exercise-button:hover {
    background-color: #45a049;
}

.save-changes-button {
    background-color: #008cba;
    color: white;
    width: 100%;
}

.save-changes-button:hover {
    background-color: #007bb5;
}

.close-button {
    background-color: #f44336;
    color: white;
    position: absolute;
    top: 10px;
    right: 10px;
}

.close-button:hover {
    background-color: #e53935;;
}

/*Responsive Design*/
@media (max-width: 600px) {
    .ReactModal__Content {
        width: 90%;
    }

    .weekly-view {
        flex-direction: column;
        gap: 10px;
    }
}