input {
    background-color: white;
    color: black;
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
    margin-top: 8px;
}

input::placeholder {
    color: #aaa;
}

div, button, hr {
    background-color: transparent;
    color: inherit;
    border: none;
}

.Workout {
    padding: 20px;
}

.WeeklyView {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.DayCard {
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.DayCard:hover{
    background-color: #e0e0e0;
}

.DayDetails {
    padding: 20px;
}

.AddExercise {
    display: flex;
    flex-direction: column;
}

.AddExercise input {
    margin: 5px 0;
}

.AddExercise button {
    margin-top: 10px;
    padding: 5px;
    cursor: pointer;
}